        body {
            font-family: "Cairo", sans-serif;
        }
        .card {
            border-radius: 14px;
            overflow: hidden;
        }
        .table thead {
            background: #0d6efd;
            color: #fff;
        }
        .table tbody tr:hover {
            background: #f0f6ff;
        }
        #searchInput {
            max-width: 320px;
        }
        .custom-close-btn {
            background-color: #a10000ff;            
            color: white;
            border: none;
            border-radius: 50%;
            width: 32px;
            height: 32px;
            font-size: 18px;
            line-height: 1;
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;
            transition: all 0.3s ease;
        }

    .custom-close-btn:hover {
        background-color: #ff4d4d; /* أحمر فاتح عند التمرير */
        transform: rotate(90deg); /* حركة بسيطة أنيقة */
    }